.navigation {
    font-size: 20px;
}

.program {
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
}

.block2 {
    width: 100%;
}

#d8>h3, #d9>h3 {
    float: left;
    width: 45%;
    margin-left: 20px;
    font-size: 25px;
    text-align: center;

}

#d8>video, #d9>video {
    float: right;
    width: 40%;
    margin-right: 30px;

}

#d8, #d9 {
    width: 100%;
    clear: both;
    float: left;
    margin-bottom: 30px;
}

video {
    width: 700px;
}

.table-container-1 {
    margin: 20px auto; 
    width: 100%;
    max-width: 800px;
    box-shadow: 5px 5px black;
}

table {
    align-items: center;
    border-collapse: collapse;
    border: 1px solid black;
    box-sizing: border-box;
    margin: 0 auto;
}
thead {
    border: 1px solid black;
    text-align: center;
    color: white;
    background-color: rgb(85, 64, 116);
}

tbody {
    border: 1px solid black;
    text-align: center;
}

tbody>tr:nth-child(odd) {
    background-color: white;
}

tbody>tr:nth-child(even) {
    background-color: rgb(129, 100, 173);
}

th, td {
    border: 1px solid black;
    padding: 5px;
}



